<div class="row g-3 my-2">
    <div class="col-md-3">
      <div class="p-3 bg-white shadow-sm d-flex justify-content-around align-items-center rounded">
        <div>
          <h3 class="fs-2">{{visitas.length}}</h3>
          <p class="fs-5">Visitas</p>
        </div>
        <i class="fas fa-user fs-1 primary-text border rounded-full secondary-bg p-3"></i>
      </div>
    </div>
  
  </div>
  
  
  
  <div class="row my-5">
      <h3 class="fs-4 mb-3">Visitas</h3>
      <div class="col">
        <table class="table bg-white rounded shadow-sm  table-hover">
          <thead>
            <tr>
              <th scope="col" width="50">Id</th>
              <th scope="col">Cliente</th>
              <th scope="col">Descripcion</th>
              <th scope="col">estado</th>
              <th scope="col">Latitud de Cliente</th>
              <th scope="col">Longitud de Cliente</th>
              <th scope="col">Tecnico</th>
              <th scope="col">Latitud Visitada</th>
              <th scope="col">longitud Visitada</th>
  
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let visita of visitas">
              <th scope="row">{{visita.id}}</th>
              <td>{{visita.cliente}}</td>
              <td>{{visita.descripcion}}</td>
              <td>{{visita.estado}}</td>
              <td>{{visita.latitudCliente}}</td>
              <td>{{visita.longitudCliente}}</td>
              <td>{{visita.tecnico}}</td>
              <td>{{visita.latitudVisitada}}</td>
              <td>{{visita.longitud}}</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>