<div class="row g-3 my-2">
    <div class="col-md-3">
      <div class="p-3 bg-white shadow-sm d-flex justify-content-around align-items-center rounded">
        <div>
          <h3 class="fs-2">{{clientes.length}}</h3>
          <p class="fs-5">Clientes</p>
        </div>
        <i class="fas fa-user fs-1 primary-text border rounded-full secondary-bg p-3"></i>
      </div>
    </div>
  
  </div>
  
  
  
  <div class="row my-5">
      <h3 class="fs-4 mb-3">Clientes 
        <a routerLink="/clientenuevo" class="btn btn-primary" role="button" >Nuevo Cliente</a> 
      </h3>
      
      <div class="col">
        <table class="table bg-white rounded shadow-sm  table-hover">
          <thead>
            <tr>
              <th scope="col" width="50">Id</th>
              <th scope="col">Nombre</th>
              <th scope="col">Direccion</th>
              <th scope="col">email</th>
              <th scope="col">latitud</th>
              <th scope="col">longitud</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let cliente of clientes">
              <th scope="row">{{cliente.id}}</th>
              <td>{{cliente.nombre}}</td>
              <td>{{cliente.direccion}}</td>
              <td>{{cliente.email}}</td>
              <td>{{cliente.latitud}}</td>
              <td>{{cliente.longitud}}</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  
   